.game-board {
  display: grid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  grid-template-columns: repeat(9, 30px);
  grid-template-rows: repeat(9, 30px);
  border: 2px solid black;
}
.game-board .game-board__square {
  border: 0.5px solid black;
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.game-board .hit {
  background-color: red;
}
.game-board .miss {
  background-color: whitesmoke;
}