@use "./variables" as *;
@use "./modal";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #00033e;
  height: 100vh;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  h1 {
    color: $text-color;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: "Black Ops One", cursive;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 1px 1px 0 $text-shadow-primary, 1px 2px 0 $text-shadow-primary,
      1px 3px 0 $text-shadow-primary, 1px 4px 0 $text-shadow-primary,
      1px 5px 0 $text-shadow-primary, 1px 6px 0 $text-shadow-primary,
      1px 12px 6px $text-shadow-secondary, 1px 15px 10px $text-shadow-tertiary,
      1px 18px 35px $text-shadow-tertiary, 1px 20px 60px $text-shadow-secondary;
  }

  .game-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .game-board {
      display: grid;
      grid-template-columns: repeat(9, 25px);
      grid-template-rows: repeat(9, 25px);
      // border: 2px solid grey;

      &--computer {
        display: none;
      }

      .game-board__square {
        border: 0.5px solid lightblue;
        background-color: #009dc4;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }

      .hit {
        height: 50%;
        width: 50%;
        border-radius: 50%;
        background-color: red;
      }

      .miss {
        height: 50%;
        width: 50%;
        border-radius: 50%;
        background-color: whitesmoke;
      }

      .ship {
        height: 100%;
        width: 100%;
        background-color: darkgray;
      }
    }
  }

  #button {
    color: darkred;
    font-weight: 400;
    border: unset;
    font-family: "Black Ops One", cursive;
    font-size: 1.4rem;
    background-color: #d0342c;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 4px 4px darkred;
    cursor: pointer;

    &:active {
      position: relative;
      box-shadow: unset;
      right: -6px;
      bottom: -6px;
    }
  }
}

@media screen and (min-width: 480px) {
  body {
    h1 {
      font-size: 3.5rem;
    }

    .game-container {
      .game-board {
        grid-template-columns: repeat(9, 35px);
        grid-template-rows: repeat(9, 35px);
      }
    }
  }
}
