.game-board {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(9, 30px);
  grid-template-rows: repeat(9, 30px);
  border: 2px solid black;

  .game-board__square {
    border: 0.5px solid black;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .hit {
    background-color: red;
  }

  .miss {
    background-color: whitesmoke;
  }

  .ship {
    background-color: darkgray;
  }
}
